FCALRFDT:        2.004
BCALRFDT:       12.028
BEAMRFDT:        2.004
TOFRFDT:         1.0

FCALENERGY:      0.25
EXTRAFCALENERGY: 0.25
BCALENERGY:      0.10

MINBEAMENERGY:   9.0
MAXBEAMENERGY:  10.9

FCALTOFCUT:      8.0
BCALDELTAPHI:   30.0
SCDELTAPHI:     36.0

ELASMEAN_P0:     1.0
ELASMEAN_P1:     0.0
ELASWIDTH:       0.031
ELASSIGMA:       4.0
