minBeamEnergy:  9.0
maxBeamEnergy: 10.9

rebinsMgg:   4
rebinsTheta: 8

#Different options for fitting the eta->2gamma signal:
#	1. single Gaussian function to describe eta signal
#	2. double Gaussian function
#	3. Crystal Ball function
#	4. Crystal Ball function + Gaussian
#	5. Use lineshape from MC to fit Eta
#	6. Use lineshape from MC to fit Eta + Additional Gaussian for inclusive background
#
signalFitOption: 5

#Different options for fitting the eta->2gamma background:
#	1. 3rd-order polynomial
#	2. exponential function
#	3. Chebyshev Polynomial
#	4. Background fixed to zero (no additional background)
#	5. Use lineshape of empty target + Additional exponential
#
bkgdFitOption:   3
polynomialOrder: 2

#Different options for fitting the omega->pi0+gamma background:
#	1. Crystal Ball function
#	2. Lineshape from MC is fitted to 2 crystal balls, and that function is used in subsequent fits
#	3. Use lineshape from MC to fit Omega
#
omegaFitOption:  2

#Different options for fitting the omega->pi0+gamma background:
#	0. Don't try to fit eta' peak
#	1. Do try to fit it
#
etapFitOption:   1


fittingRange: 0.425  0.675
