primexPhase: 3

#
#Different options for the cut variations:
#  0. All default cuts applied
#  1. 3-d invariant mass matrix
#  2. FCAL cuts varied
#  3. BCAL veto cuts varied
#  4. Beam cuts varied
#  5. TOF cuts varied
#
analysisOption: 1

#
# Name of histogram to access from data and mc root files:
# (note: this should change depending on the analysisOption specified above)
#
histName:   mgg_singleTOF
matrixName: AngularMatrix_singleTOF

#
# Beam energy:
#
beamEnergy: 9.0 11.3

#
# Binning:
#
rebinsMgg:   2
rebinsTheta: 6

#################################################################################
# FITTING OPTIONS:

#
#Different options for fitting the eta->2gamma signal:
#	1. single Gaussian function to describe eta signal
#	2. double Gaussian function
#	3. Crystal Ball function
#	4. Crystal Ball function + Gaussian
#	5. Use lineshape from MC to fit Eta
#	6. Use lineshape from MC to fit Eta + Additional Gaussian for inclusive background
#	7. Use lineshape from MC to fit Eta + lineshape of eta+pion background from bggen mc
#
signalFitOption: 7

#
#Different options for fitting the eta->2gamma background:
#	1. 3rd-order polynomial
#	2. exponential function
#	3. Chebyshev Polynomial
#	4. Background fixed to zero (no additional background)
#	5. Use lineshape of empty target + Additional exponential
#
bkgdFitOption:   2
polynomialOrder: 1

#
#Different options for fitting the omega->pi0+gamma background:
#	1. Crystal Ball function
#	2. Lineshape from MC is fitted to 2 crystal balls, and that function is used in subsequent fits
#	3. Use lineshape from MC to fit Omega
#
omegaFitOption:  2

#
#Different options for fitting the omega->pi0+gamma background:
#	0. Don't try to fit eta' peak
#	1. Do try to fit it
#
etapFitOption:   1


fittingRange: 0.405 0.95

#################################################################################
#
# This card determines whether or not the empty target background
# is subtracted before fitting is done.
#
subtractEmptyTarget: 0

#
# The following switch determines whether the pdf of the empty target is obtained by fitting
# If the above card is 1, then the remaining cards are trivial.
#
fitEmptyTarget: 1

#################################################################################
#
# [0: no fit to eta, 1: Gaussian, 2: lineshape]
#
emptyFitOption_eta: 2

#
# [0: no fit to omega, 1: Crystal Ball, 2: lineshape]
#
emptyFitOption_omega: 2

#
# [0: no fit to fdc peaks, 1: Gaussians, 2: lineshape with common normalization, 3: lineshape with separate normalizations]
#
emptyFitOption_fdc: 1

#
# [1: polynomial, 2: exponential, 3: chebyshev]
#
emptyFitOption_bkgd: 2
emptyFitOption_poly: 3

emptyFittingRange: 0.355 0.975

#################################################################################
