meson:  Eta
target: Helium

mesonNucleonCS:               23.00
elementaryProductionSlope:     0.24
elementaryScatteringSlope:     0.24
realImaginaryScatteringRatio: -0.20
shadowingParameter:            0.25

targetRadius: 1.183

#density model options: [HO, SOG]
densityModel: HO

inputFile: 
outputFile: eta_he4_ho.root
