FCALRFDT:        2.004
BCALRFDT:       12.028
BEAMRFDT:        2.004
TOFRFDT:         1.000

FCALENERGY:      0.25
EXTRAFCALENERGY: 0.05
BCALENERGY:      0.00

MINBEAMENERGY:   8.0
MAXBEAMENERGY:  10.9

FCALTOFCUT:      8.0
BCALDELTAPHI:   30.0
SCDELTAPHI:     45.0

ELASMEAN_P0:     1.0
ELASMEAN_P1:     0.0
ELASWIDTH:       0.031
ELASSIGMA:       4.0
